@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');


$family: 'Playfair Display', serif;
$clicker: 'Clicker Script', cursive;




.header-container {

    width: 100%;
    height: calc(100vh - 10px);
    background: url('/assets/coffe_bg.png') center/cover;
    position: relative;

    .details-container {
        position: absolute;
        top: 50%;
        left: clamp(80px, 10vw, 167px);
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: clamp(450px, 90vw, 610px);
        z-index: 107;

        h2 {
            font-family: $family;
            color: #fff;
            font-size: 20px;
            font-weight: 300;
        }

        h1 {
            font-family: $clicker;
            color: #fff;
            font-size: clamp(80px, 12vw, 220px);
            font-weight: 300;

        }

        p {
            font-family: $family;
            color: #fff;
            line-height: 34px;
            font-size: 20px;
        }

        button {
            background: #F9C06A;
            border-radius: 24px;
            padding: 15px 25px;
            border: none;
            color: #000;
            font-family: $family;
            cursor: pointer;
            margin-top: 8px;
            transition: all 0.3s ease;


        }

        button:hover {
            transform: scale(1.1);
        }
    }



    .nav-bar {
        position: fixed;
        top: 0;
        z-index: 120;
        display: flex;
        padding: 20px clamp(40px, 10vw, 80px);
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(20px);

        .logo {
            img {
                width: clamp(76px, 15vw, 132px);
                height: 46px;
                object-fit: contain;
            }
        }

        ul {
            display: flex;
            justify-content: space-between;
            width: 50%;
            flex-wrap: wrap;

            li {
                list-style: none;
                color: #fff;
                cursor: pointer;
                flex-grow: 1;
                font-family: $family;
                transition: all 0.3s ease;
                // width: 12%;

            }

            li:hover {
                transform: scale(1.1);
                font-size: 17px;
            }
        }

        .btns {
            button {
                border-radius: 24px;
                border: none;
                background: #F9C06A;
                color: #1E1E1E;
                padding: 15px 25px;
                font-family: $family;
                cursor: pointer;
                box-shadow: 0px 0px 5px #F9C06A;
                transition: all 0.3s ease;
            }

            button:hover {
                transform: scale(1.1);
            }
        }
    }
}

.header-container::after {
    content: ' ';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: calc(100vh - 10px);
    z-index: 100;
}



.middle-col {
    padding: 82px clamp(45px, 10vw, 93px);
    height: 100vh;
    width: 100%;

    .middle-cont {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: clamp(300px, 80vw, 1100px);
        margin: 0 auto;
        gap: 10%;

        .middle-detail {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 30px;

            p {
                font-family: $family;
                font-size: clamp(10px, 10vw, 20px);
                color: #707070;
                line-height: 34px;
            }

            h1 {
                color: #603809;
                font-family: $family;
                font-size: clamp(15px, 4vw, 52px);
                line-height: auto;
            }

            button {
                border-radius: 24px;
                border: none;
                background: #F9C06A;
                color: #1E1E1E;
                padding: 15px 25px;
                width: clamp(70px, 18vw, 134px);
                font-family: $family;
                cursor: pointer;
                box-shadow: 0px 0px 5px #F9C06A;
                transition: all 0.3s ease;
            }

            button:hover {
                transform: scale(1.1);
            }
        }


        .middle-img {
            width: clamp(200px, 30vw, 450px);
            /* Make it more balanced */

            img {
                width: 100%;
            }
        }
    }
}

.Coffe-Area {
    width: 100%;
    height: clamp(250px, 50vw, 574px);
    background: url('/assets/blackCoffe.png') center/cover;
    padding: clamp(70px, 50vw, 135px) clamp(45px, 50vw, 93px);
    display: flex;
    align-items: center;
    position: relative;

    .Coffe-cont {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        z-index: 299;
        gap: 10px;
        width: 50%;

        h1 {
            color: #fff;
            font-size: clamp(25px, 4vw, 54px);
            font-family: $family;
        }

        p {
            color: #fff;
            font-family: $family;
            font-size: clamp(10px, 4vw, 20px);
            font-weight: 500;
        }

        button {
            border-radius: 24px;
            border: none;
            background: #F9C06A;
            color: #1E1E1E;
            padding: 15px 25px;
            width: clamp(70px, 18vw, 134px);
            font-family: $family;
            cursor: pointer;
            // box-shadow: 0px 0px 5px #F9C06A;
            transition: all 0.3s ease;
        }

        button:hover {
            transform: scale(1.1);
        }
    }
}

.Coffe-Area::after {
    content: ' ';
    background: url('/assets/cupbg.png') center/cover;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: clamp(260px, 52vw, 595px);
}

/* Container for the item area */
.Item-Area {
    width: 100%;
    padding: min(5vw, 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
}

/* Content inside the item area */
.Item-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 1200px;
}

.Item-content h1 {
    font-size: min(5vw, 52px);
    font-weight: bold;
    color: #603809;

    margin-bottom: 8px;
}

.Item-content p {
    font-size: 20px;
    color: #707070;
    margin-bottom: 20px;
}

/* Item list container */
.Item-list {
    overflow-x: auto;
    width: 100%;
    padding-bottom: 10px;
}

/* Coffee list items */
.Item-content ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    flex-wrap: wrap;
}

/* Individual coffee item */
.Item-content ul li {
    width: 220px;
    height: auto;
    border: 0.5px solid #9a6830;
    padding-bottom: 5px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding: 16px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.Item-list ul li:hover {
    transform: scale(1.1);
}

/* Coffee image styling */
.Item-content ul li img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

/* Coffee title */
.Item-content ul li h3 {
    font-size: 16px;
    margin: 10px 0;
    font-weight: bold;
    color: #5c3c17;
}

/* Coffee description */
.Item-content ul li p {
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 200px;
}

/* Coffee price */
.Item-content ul li .price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

/* Order button */
.Item-content ul li button {
    background: #f4a742;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: 0.3s;
}

.Item-content ul li button:hover {
    background: #d98828;
}